@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    background: url('arriere_plan3.jpg'); no-repeat;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}


section h2, footer h2, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
	color:#760001;
    text-transform: uppercase;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	margin-top: 20;
}


#logo_hamed
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
	margin-top: 20;
}

#logo_hamed img
{
    width: 250px;
    height: 75px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}


section
{
    display: flex;
    margin-left: 10px;
	position: relative;
}

article
{
    text-align: left;
    margin-right: 150px;
    flex: 15.5;
	font-size: 1.2em;
}

article li
{
	color: #760001;
}

#photo
{
    position: relative;
    background-color: #ADD8E6;
	border: dashed;
    border-radius: 2.5px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 10px;
    padding: 10px;
    color: #760001;
    font-size: 1.2em;
}



#photo_hamed
{
    text-align: center;
	flex: 1.5;
	width: 200;
	height: 225px;
}

#photo_hamed img
{
    border: 1px solid #181818;
	flex: 1;
	width: 200px;
	height: 225px;
}

#interet
{
	position: relative;
	border-top: dashed;
	border-left: dashed;
	width: 1000px;
    border-radius: 2.5px;
	margin-right: 50px;
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 10px;
    padding-left: 50px;
	padding-top: 10px;
    color: #760001;
    font-size: 1.2em;
}

aside li
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}


#portfolio_info, #portfolio_meca
{
    position: relative;
	margin-top: 20px;
    color: #181818;
    font-size: 1.2em;
    text-align: right;
}

#projets
{
    list-style-type: none;
    display: flex;
	margin-right: 100px;
}

#projet_info1, #projet_meca1, #projet_meca3, #certif1, #certif3, #certif5, #certif7, #projet_info1_i1, #projet_info1_i3, #projet_info2_i1, #projet_info2_i3
{
    position: relative;
    background-color: #ADD8E6;
	border: dashed;
    border-radius: 2.5px;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 10px;
    padding: 10px;
    color: #760001;
    font-size: 1.2em;
	width: 40%;
	height: 300px;
}

#projet_info2, #projet_meca2, #projet_meca4, #certif2, #certif4, #certif6, #certif8, #projet_info1_i2, #projet_info1_i4, #projet_info2_i2, #projet_info2_i4
{
    position: relative;
    background-color: #ADD8E6;
	border: dashed;
    border-radius: 2.5px;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 10px;
    padding: 10px;
    color: #760001;
    font-size: 1.2em;
	width: 40%;
}

#ecrire_message
{
    position: relative;
    background-color: #ADD8E6;
	border: dashed;
    border-radius: 2.5px;
	margin-left: 10px;
	margin-top: 50px;
	margin-bottom: 10px;
    padding: 10px;
    color: #760001;
    font-size: 1.2em;
	width: 40%;
	height: 300px;
}

#projet_info_souligne, #projet_meca_souligne
{
    color: #000000;
    padding-bottom: 3px;
    text-decoration: none; color: #760001;
	border-bottom: 3px solid #760001;
}